@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box
}

:root {
  --darker-bg: #242323;
  --ligther-bg: #313131;
  --white-text: #fff;
  --light-grey: rgb(72, 72, 72);
}

@import './reset.css';
@import './menu.css';
@import './main.css';
@import './table.css';
@import './modal.css';
@import './button.css';
@import './productsList.css';
@import './signup.css';


#root {
  display:flex;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--ligther-bg);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
