.products-ul {
    margin-top:120px;
    padding: 1rem;
    width:100%;
    backgrounD: var(--lighter-bg);
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.products-li {
    width:800px;
    min-width: 600px;
    height: 150px;
    background: var(--darker-bg);
    margin-bottom: 1.5rem;
    border-radius: 10px;
    color: #fff;
    display:flex;
}

.products-li:last-child {
    margin-bottom:0;
}

.product-top-div {
    display:flex;
}

.product-bottom-div {
    margin-top: 1rem;
}

.product-title {
    background: var(--light-grey);
    border-radius: 10px 0 0 0;
}

.product-title, .data-wrapper  {
    padding:1rem;
}

.product-data {
    display:flex;
    flex-direction: column;
    width:75%;
}

.img-wrapper {
    width:40%;
    border-radius:0 10px 10px 0;
}

.product-img {
    width: 110%;
    object-fit:cover;
    height: 100%;
    border-radius:0 10px 10px 0;
}


.product-title, .bold {
    font-weight: bold;
}

.data-label {
    margin-right: 1rem;
}






