.table {
    padding: 1rem 2rem;
    z-index: 0;
    position: relative;
    max-height: 400px;
}
.table-header {
    height: 50px;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.table-body {
    overflow-y: auto;
}

.header-row {
    pointer-events: none;
    width:100%;
}

.row {
    cursor:pointer;
}

.row, .header-row {
    border-radius: 10px;
    padding: 0 1rem;
}

.row, .cell, .header-row {
    display:flex;
    justify-content: space-between;
    align-items: center
}

.row:hover {
    background: var(--light-grey)
}

.delete-row-icon {
    color: #ff0000;
    margin-left: 8rem;
    cursor: pointer;
}

.title {
    color: #fff;
    width:100%;
    font-weight:600;
}

.cell {
    width:100%;
    color: #ddd;
    height:50px;
    font-size: 1rem;

}